<div class="container mt-4">
        <table class="table">
            <h5>Trainee</h5>
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td>Anitha Pathadan</td>
                    <td>anithapathadan@gmail.com</td>
                    <td><button class="btn btn-primary m-1 p-1">block</button>
                    </td>
                </tr>

                <tr>
                    <td>Sharon Paul</td>
                    <td>sharonpaul@gmail.com</td>
                    <td><button class="btn btn-danger m-1 p-1">Unblock</button>
                    </td>
                </tr>
            </tbody>
        </table>


        <table class="table">
                <h5>Trainer</h5>
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
    
                </thead>
                <tbody>
                    <tr>
                        <td>Harry Potter</td>
                        <td>harrypotter@gmail.com</td>
                        <td><button class="btn btn-primary m-1 p-1">block</button>
                        </td>
                    </tr>
    
                    <tr>
                        <td>Ron Weasley</td>
                        <td>ronweasley@gmail.com</td>
                        <td><button class="btn btn-danger m-1 p-1">Unblock</button>
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>