<app-admin-header></app-admin-header>
<div class="container mt-4">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Technology</th>
                    <th>Fee</th>
                    <th>Commission</th>
                    <th>Action</th>
                  </tr>
            
            </thead>
            <tbody>
                <tr>
                    <td>Spring</td>
                    <td>&#8377;20,000</td>
                    <td>15%</td>
                    <td><button class="btn btn-primary m-1 p-1">Edit</button>
                        <button class="btn btn-danger m-1 p-1">Delete</button>
                    </td>
                  </tr>

                  <tr>
                    <td>Spring</td>
                    <td>&#8377;20,000</td>
                    <td>15%</td>
                    <td><button class="btn btn-primary m-1 p-1">Edit</button>
                        <button class="btn btn-danger m-1 p-1">Delete</button>
                    </td>
                  </tr>

                  <tr>
                    <td>Spring</td>
                    <td>&#8377;20,000</td>
                    <td>15%</td>
                    <td><button class="btn btn-primary m-1 p-1">Edit</button>
                        <button class="btn btn-danger m-1 p-1">Delete</button>
                    </td>
                  </tr>
                  <tr>
                    <td><input type="text" placeholder="technology"></td>
                    <td><input type="text" placeholder="rate"></td>
                    <td><input type="text" placeholder="commission"></td>
                    <td><button class="btn btn-success m-1 p-1">Add</button>
                    </td>
                  </tr>
            </tbody>
        </table>
    </div>