

    <div class="bg">
        <app-header></app-header>
        <div class="message text-center">
            <h1>Welcome to Mentor on Demand</h1>
            <h2>Come!! Explore the technologies.</h2>
            <p>This is an open platform where trainees can search for trainers in their requierd skills.
                They can customize the training schedules according to the desired time and acquire their skills.
            </p>
            <p>The trainers can be a part of our team to conduct trainings in their domain. You can customize your
                training according to your availablity. </p>
        </div>

    </div>
    

