<header id="heading">
    <div class="navbar navbar navbar-dark bg-dark justify-content-between">
        <div class="row">
            <a class="navbar-brand" style="color: white"><span id="head">Mentor On Demand</span></a>
        </div>
        <ul class="nav justify-content-end">
            <li><a style="color: aliceblue;padding: 7px;" routerLink="/trainer-landing"><span style="padding: 7px;"
                        class="fa fa-home"></span> Home</a></li>
            <li><a style="color: aliceblue;padding: 7px;" ><span style="padding: 7px;"
                        class="fa fa-envelope"></span> Notifications</a></li>

            <li><a style="color: aliceblue; padding: 7px;" routerLink=""><span style="padding: 7px;"
                        class="fa fa-sign-out"></span> Logout</a></li>
        </ul>
    </div>
</header>