<div class="container mt-3">

    <div class="card-deck">
        <div class="card" style="width:400px; border-radius: 2rem;">
            <span style="padding: 30px;" class="fa fa-search fa-5x"></span>
            <div class="card-body">
                <h5 class="card-title">Search Trainers</h5>
                <p class="card-text">Search for available Coursers and Trainers</p>
                <a href="user-search.html" class="btn btn-primary col-md-12">View</a>

            </div>
        </div>
        <div class="card" style="width:400px;  border-radius: 2rem;">
                <span style="padding: 30px;" class="fa fa-clock-o fa-5x"></span>
                <div class="card-body">
                    <h5 class="card-title">Current Trainings</h5>
                    <p class="card-text">See ongoing Trainings</p>
                    <a routerLink="/trainee-current"class="btn btn-primary col-md-12">View</a>
                </div>
            </div>

        <div class="card" style="width:400px; border-radius: 2rem;">
            <span style="padding: 30px;" class="fa fa-thumbs-o-up fa-5x"></span>
            <div class="card-body">
                <h5 class="card-title">Completed Trainings</h5>
                <p class="card-text">See completed courses</p>
                <a routerLink="/trainee-compleated" class="btn btn-primary col-md-12">View</a>
            </div>
        </div>

        

    </div>
</div>
