<app-admin-header></app-admin-header>
<div class="container mt-3">

        <div class="card-deck">
            <div class="card" style="width:400px; border-radius: 2rem;">
                <span style="padding: 30px;" class="fa fa-plus-circle fa-5x"></span>
                <div class="card-body">
                    <h5 class="card-title">Technologies</h5>
                    <p class="card-text">Add or remove skills</p>
                    <a routerLink="/admin-skill" class="btn btn-danger col-md-12">Add/Remove</a>

                </div>
            </div>
            <div class="card" style="width:400px;  border-radius: 2rem;">
                <span style="padding: 30px;" class="fa fa-user fa-5x"></span>
                <div class="card-body">
                    <h5 class="card-title">User Accounts</h5>
                    <p class="card-text">Manage user Accounts</p>
                    <a routerLink="/admin-useraccount" class="btn btn-danger col-md-12">View</a>
                </div>
            </div>

            <div class="card" style="width:400px; border-radius: 2rem;">
                <span style="padding: 30px;" class="fa fa-credit-card fa-5x"></span>
                <div class="card-body">
                    <h5 class="card-title">Payment Reports</h5>
                    <p class="card-text">View payment reports</p>
                    <a routerLink="/admin-paymentreport" class="btn btn-danger col-md-12">View</a>
                </div>
            </div>
            <div class="card" style="width:400px; border-radius: 2rem;">
                <span style="padding: 30px;" class="fa fa-book fa-5x"></span>
                <div class="card-body">
                    <h5 class="card-title">Training Reports</h5>
                    <p class="card-text">View Training reports</p>
                    <a routerLink="/admin-trainingreport" class="btn btn-danger col-md-12">View</a>
                </div>
            </div>



        </div>
    </div>